@import '../../../variables';


.game-view {
  background: $white-10;
}

.gameboard {
  background: $black-5;
  box-shadow: $header-box-shadow;
  border-radius: 1rem;
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-columns: repeat(8, 100fr);
  grid-template-rows: repeat(2, 100fr);
  margin: 3rem auto;
  padding: 2rem;
  width: 70%
}

.pocket {
  align-items: center;
  align-self: center;
  border-radius: .5rem;
  box-shadow: $pocket-box-shadow;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 5rem;
  padding: .5rem;
  position: relative;

  // &:hover {

  // }

  &:active {
    top: 1px;
  }
}

.player-a {
  background: $pocket-background-a;
}

.player-b {
  background: $pocket-background-b;
}

.mancala {
  box-sizing: border-box;
  height: 100%
}

.game-piece {
  background: $game-piece-gradient;
  background-color: $game-piece-color;
  border-radius: 1rem;
  height: 1rem;
  width: 1rem;
}

.stones-number {
  color: $white-100;
  font-size: 1rem;
  font-weight: 800;
  text-shadow: 0 0 .5rem $black-85;
  opacity: .5;
  position: absolute;

  z-index: 0;
}

#AM {
  grid-area: 1 / 8 / 3 / 9;
  margin-left: 1rem;
}

#BM {
  grid-area: 1 / 1 / 3 / 2;
  margin-right: 1rem;
}
