@import '../../../variables';

.gameboard {
  background: $board-background;
  box-shadow: $board-box-shadow;
  border-radius: 1rem;
  display: grid;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-columns: repeat(8, 10fr);
  grid-template-rows: repeat(2, 10fr);
  margin: 0 6rem;
  padding: 2rem 3rem;
}

.pocket {
  align-items: center;
  align-self: center;
  box-sizing: border-box;
  border-radius: .5rem;
  box-shadow: $pocket-box-shadow;
  display: flex;
  box-sizing: border-box;
  height: 100%;
  min-height: 7rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;

  // &:hover {

  // }

  &:active {
    top: 1px;
  }
}

.player-a {
  background: $pocket-background-a;
}

.player-b {
  background: $pocket-background-b, $white-10;
}

.mancala {
  box-sizing: border-box;
  height: 100%;
  padding: 1rem;
  position: relative;
}

.game-piece {
  background: $game-piece-gradient;
  background-color: $game-piece-color;
  border-radius: 1rem;
  height: 1rem;
  width: 1rem;
  margin: .05rem;
}

.stones-number {
  color: $white-100;
  font-size: 1rem;
  font-weight: 800;
  text-shadow: 0 0 .5rem $black-85;
  opacity: .5;
  position: absolute;
}

#AM {
  grid-area: 1 / 8 / 3 / 9;
}

#BM {
  grid-area: 1 / 1 / 3 / 2;
}
