@import '../../../variables';

$black: #000;
$background-mancala: #e0ebeb;
$background-a: #ff9;
$background-b: #9f9;
$game-piece-color: #8eacb1;
$game-piece-gradient: radial-gradient(circle, #c9d0ce 17%, #8eacb1 100%);
$white: #fff;

.gameboard {
  display: grid;
  grid-column-gap: .25rem;
  grid-row-gap: .25rem;
  grid-template-columns: repeat(8, 100fr);
  grid-template-rows: repeat(2, 100fr);
  margin: 0 auto;
  padding: .25rem;
  width: 80%;
}

.pocket {
  align-self: center;
  background: $black-5;
  border-radius: .2rem;
  box-shadow: inset .3rem .3rem .8rem .1rem $black-30;
  cursor: pointer;
  display: flex;
  height: 6rem;
  justify-content: center;
  position: relative;

  // &:hover {

  // }

  &:active {
    top: 1px;
  }
}

.pocket-display {
  align-items: center;
  align-self: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-around;
  padding: 15px;
  width: 100%;
}

// .player-a {
//   background-color: $background-a;
// }

// .player-b {
//   background-color: $background-b;
// }

.mancala {
  height: 100%;
}

.game-piece {
  background: $game-piece-gradient;
  background-color: $game-piece-color;
  border-radius: 1rem;
  height: 1rem;
  width: 1rem;
}

.stones-number {
  color: white;
  font-size: 3rem;
  opacity: .5;
  position: absolute;
  z-index: 0;
}

#AM {
  grid-area: 1 / 8 / 3 / 9;
}

#BM {
  grid-area: 1 / 1 / 3 / 2;
}
