$success-background: #cef1c3;
$success-text: #2c6919;
$warning-background: #efdca2;
$warning-text: #51400e;
$failure-background: #efb5a2;
$failure-text: #511e0e;

button {
  font-size: 1rem;
  padding: .5rem 0;
  width: 45%;
}

.alert {
  align-items: center;
  animation: .5s ease-in-out 0s 1 light-bounce-in;
  bottom: 1rem;
  display: flex;
  left: 0;
  margin: auto;
  max-width: 30rem;
  padding: 3rem;
  position: fixed;
  right: 0;
  z-index: 10000;

  .alert-heading {
    font-weight: bold;
    display: block;
    padding-bottom: 1rem;
  }

  .alert-body {
    margin-bottom: 0;
    display: block;
  }
}

.success {
  background-color: $success-background;
}

.warning {
  background-color: $warning-background;
}

.failure {
  background-color: $failure-background;
}

.close {
  &:active,
  &:focus {
    outline: none;
  }
}

@keyframes light-bounce-in {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }

  50% {
    transform: translateY(-5%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
