@import '../../variables';

button {
  font-size: 1rem;
  padding: .5rem 0;
  width: 45%;
}

.alert {
  align-items: center;
  animation: .5s ease-in-out 0s 1 bounce-up;
  background: $banner-overlay;
  bottom: 1rem;
  display: flex;
  left: 0;
  margin: auto;
  max-width: 30rem;
  padding: 3rem;
  position: fixed;
  right: 0;
  z-index: 10000;

  .alert-heading {
    display: block;
    font-weight: bold;
    padding-bottom: 1rem;
  }

  .alert-body {
    display: block;
    margin-bottom: 0;
  }
}

@keyframes bounce-up {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }

  50% {
    transform: translateY(-5%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
