@import '../../variables';

li {
  padding-bottom: .5rem;
}

span {
  padding: 0 .18rem 0 .1rem;
}

.container {
  width: 100%;
}

.delete-button {
  background: $gradient-colors-inverse, $gradient-colors;
  border-radius: .1rem;
  display: flex;
  font-size: .8rem;
  margin: 1rem auto 2rem;
  padding: .2rem;
  justify-content: center;
  width: 10rem;

  &:hover {
    text-shadow: 0 0 .5rem $black-50;
  }
}

.game-info {
  background: $banner-overlay;
  box-shadow: $header-box-shadow;
  color: $white-75;  
  font-size: 1.5rem;
  margin: 1rem auto;
  padding: .2rem 0;
  text-align: center;
  width: 100%;

  .a {
    color: $bright-pop;
  }

  .b {
    color: $medium-pop;
  }
}

.game-view {
  justify-content: center;
  margin: 3rem 0 1rem;
}

.index {
  padding: 0 1rem;
}
