@import '../../variables';


li {
  padding-bottom: .5rem;
}

.container {
  width: 100%;
}

.delete-button {
  color: $medium-pop;
  display: flex;
  margin: 1rem auto;
  padding: .5rem;
  justify-content: center;
  width: 10rem;
  
  &:hover {
    box-shadow: 0 0 2rem $medium-pop;
    color: $medium-pop;
  }
}

.game-info {
  margin: 0 auto;
  padding: 1rem 0;
  text-align: center;
}

.game-view {
  justify-content: center;
}

.index {
  padding: 0 1rem;
}
