@import '../../variables';

.home {
  display: flex;
  padding: 1rem;
}

.big-button {
  margin: 0 2rem 0 0;
  padding: 3rem;

  &:hover {
    box-shadow: 0 0 2rem $medium-pop;
    color: $medium-pop
  }
}
