@import '../../variables';

.home {
  display: flex;
  padding: $container-element-padding;
  justify-content: center;
}

.big-button {
  background: $big-button-background;
  border: none;
  box-shadow: $button-shadow-black, $button-shadow-white, $big-button-shadow-inset;
  font-family: $body-font;
  border-radius: .5rem;
  text-align: center;
  text-shadow: $big-button-text-shadow;
  margin: 0 2rem;
  padding: 1rem 1rem;
  width: 30%;

  &:hover {
    background: $big-button-background-hover;
    box-shadow: $button-shadow-black, $button-shadow-white, $big-button-shadow-inset;
  }

  &:active {
    box-shadow: $button-shadow-white, $big-button-shadow-inset
  }
}