@import '../../variables';

a {
  padding-right: 1rem;
  text-decoration: none;
}

h1 {
  background: $banner-overlay;
  color: $grayscale-4;
  font-family: 'Raleway Dots', serif;
  font-size: 10rem;
  font-weight: normal;
  margin: 0;
}

header {
  display: block;
  margin: 2rem 0 .5rem;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: .5rem 1rem 0;
}

.auth-links {
  grid-area: 1 / 1 / 2 / 2;
}

.game-links {
  grid-area: 1 / 2 / 2 / 3;
  text-align: right;
}

.user-welcome {
  padding: .5rem 1rem 0;
}
