@import '../../variables';

a {
  padding-right: 1rem;
  text-decoration: none;

  &:hover {
    color: $medium-pop;
  }
}

h1 {
  // background: $banner-overlay;
  color: $white-35;
  font-family: $title-font;
  font-size: 8rem;
  font-weight: 600;
  letter-spacing: 1.5rem;
  margin: 0;
  text-shadow: 0 0 .75rem $black-85;
}

header {
  background: $banner-overlay;
  display: block;
  margin: 2rem 0 .5rem;
}

nav {
  display: grid;
  font-size: .8rem;
  grid-template-columns: 1fr 1fr;
  padding: .5rem 0 .5rem 1rem;
}

.auth-links {
  grid-area: 1 / 1 / 2 / 2;
}

.game-links {
  grid-area: 1 / 2 / 2 / 3;
  text-align: right;
}

.user-welcome {
  color: $medium-pop;
  background: $black-30;
  padding: .05rem 1rem;
  min-height: 2rem;
}
