@import '../../variables';

a {
  color: $white-75;
  padding-right: 1.5rem;
  text-decoration: none;

  &:hover {
    color: $low-pop;
  }
}

h1 {
  box-shadow: $header-box-shadow;
  color: $white-60;
  font-family: $title-font;
  font-size: 7rem;
  font-weight: 400;
  margin: 0;
  padding: .5rem 1rem;
  text-shadow: $button-text-shadow-white;
}

header {
  background: $black-5; 
  display: block;
  margin: 0 0 .5rem;
}

nav {
  background: $gradient-colors-inverse;
  box-shadow: $header-box-shadow;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: .5rem 0 .75rem 1.5rem;
}

p {
  padding: 0;
  margin: 0;
}

// .title-block {
//   padding: 1rem;
// }

.auth-links {
  grid-area: 1 / 1 / 2 / 2;
}

.game-links {
  grid-area: 1 / 2 / 2 / 3;
  text-align: right;
}

.user-welcome {
  color: $bright-pop-75;
  background: $gradient-colors;
  padding: .5rem 1.5rem;
  min-height: 1.25rem;
  box-shadow: $header-box-shadow;
}
