@import 'variables';

$background-img: url('/metal-texture.jpg');

body {
  background-color: $grayscale-5;
  background-image: $background-img;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  margin: 0;
}

a {
  color: $bright-pop;
}

p {
  font-size: 1rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

.button {
  background: $banner-gradient-color-a;
  border-radius: 0;
  border: none;
  color: $medium-pop;
  cursor: pointer;
  margin: .25rem 0 .25rem .5rem;
  padding: .25rem 1rem;
  text-align: center;
  
  &:hover {
    color: $bright-pop;
  }
}