@import '~bootstrap/scss/bootstrap';

$navy: #122939;
$blue-sapphire: #22577a;
$dark-cyan: #2f8789;
$cadet-blue: #38a3a5;
$verdigris: #3eb4b6;
$light-green: #80ed99;
$tea-green: #c7f9cc;
$lemon-yellow: #fffd9f;
$off-white: #fffff5;
$white: #fff;

$gradient: linear-gradient(180deg, $dark-cyan, $cadet-blue);
$gradient-lighten: linear-gradient(180deg, $cadet-blue, $verdigris);


body {
  background-color: $off-white;
}

button {
  background: $gradient;
  background-color: $cadet-blue;
  border-radius: .4rem;
  box-shadow: 0 .25rem .75rem -.25rem $blue-sapphire;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-size: 2rem;
  padding: 1rem 0;
  text-decoration: none;

  &:hover {
    background: $gradient-lighten;
    background-color: $verdigris;
  }

  &:active {
    position: relative;
    top: 1px;
  }
}
