//  Grayscale
$grayscale-1: #1d1e20ff;
$grayscale-2: #3a3c40ff;
$grayscale-3: #61646bff;
$grayscale-4: #94989eff;
$grayscale-5: #bfc1c540;

// Colors
$bright-pop: #bdf33f;
$medium-pop: #1ec9cc;


//  Fonts
$title-font: 'Raleway Dots', sans-serif;
$body-font: 'Poppins', sans-serif;


//  Banner Overlays
$banner-gradient-color-a: #00000040;
$banner-gradient-color-b: #00000080;
$banner-gradient-color-c: #00000000;

$banner-overlay: linear-gradient(
  90deg,
  $banner-gradient-color-a 0%,
  $banner-gradient-color-b 10%,
  $banner-gradient-color-c 100%,
);

// $box-shadow-dark: 4px 4px rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
// $box-shadow-bright: 4px 8px 8px 4px #1ec9cc8, 4px 8px 8px 4px #1ec9cc40;


//  Forms & Buttons
$form-input: $grayscale-5;
