//  Grayscale
$grayscale-1: #1d1e20ff;
$grayscale-2: #3a3c40ff;
$grayscale-3: #61646bff;
$grayscale-4: #94989eff;
$grayscale-5: #bfc1c540;

$white-50: #ffffff80;

// Colors
$bright-pop: #bdf33f;
$medium-pop: #1ec9cc;


//  Fonts
$title-font: 'Raleway Dots', sans-serif;
$body-font: 'Poppins', sans-serif;


//  Banner Overlays
$banner-gradient-color-a: #00000040;
$banner-gradient-color-b: #00000080;
$banner-gradient-color-c: #00000000;

$banner-overlay: linear-gradient(
  90deg,
  $banner-gradient-color-a 0%,
  $banner-gradient-color-b 10%,
  $banner-gradient-color-c 100%,
);

$form-input: $grayscale-5;
$button-background: $grayscale-5;

