// $background-auth: ;


form {
  background: purple;
}

h3 {
  font-weight: bold;
}

.auth {
  animation: .5s ease-in-out 0s 1 light-bounce-in;
  
  bottom: 1rem;
  left: 0;
  max-width: 60rem;
  padding: 1rem;
  position: fixed;
  z-index: 10000;
}

.close {
  &:active,
  &:focus {
    outline: none;
  }
}

.form-element {
  display: grid;
  grid-template-areas: 'text-input label';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.form-label {
  grid-area: 'label';
  margin-right: 1rem;
  text-align: right;
}

.text-input {
  grid-area: 'text-input';
}
