$auth-overlay: linear-gradient(
  90deg,
  rgba(0,0,0,0.25) 0%,
  rgba(0,0,0,0.5) 20%,
  rgba(0,0,0,0.25) 60%,
  rgba(0,0,0,0) 100%
);

form {
  display: block;
}

h3 {
  font-family: 'Raleway Dots', sans-serif;
  font-size: 2rem;
  font-weight: normal;
  margin: 0;
  padding: 0 1rem .5rem;
  text-align: right;
}

input {
  background-color: rgba(255, 255, 255, .25);
}

.auth {
  animation: .5s ease-in-out 0s 1 light-bounce-in;
  background: $auth-overlay;
  left: 0;
  max-width: 60rem;
  padding: 1rem;
  position: fixed;
  z-index: 10000;
}

.close {
  &:active,
  &:focus {
    outline: none;
  }
}

.form-element {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-right: 1rem;

  .form-label {
    margin-right: 1rem;
    text-align: right;
  }
}

.submit-button {
  display: block;
  float: right;
  padding-top: .5rem;
}



@keyframes light-bounce-in {
  0% {
    opacity: 0;
    transform: translateX(-20%);
  }

  50% {
    transform: translateX(5%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
